/* ONLY FOR ANIMATION PURPOSE */

.ani {
  animation: scaling 0.4s ease-in-out;
}

.ani1 {
  animation: scaling 0.7s ease-in-out;
}

.ani2 {
  animation: scaling 1s ease-in-out;
}

.ani3 {
  animation: scaling 1.2s ease-in-out;
}

.ani4 {
  animation: scaling 1.5s ease-in-out;
}

.ani5 {
  animation: scaling 2s ease-in-out;
}

.ani6 {
  animation: scaling 2.2s ease-in-out;
}


.ani7 {
  animation: scaling 2.4s ease-in-out;
}

.ani8 {
  animation: scaling 2.6s ease-in-out;
}

.ani9 {
  animation: scaling 2.8s ease-in-out;
}

.ani10 {
  animation: scaling 3s ease-in-out;
}
@keyframes scaling {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.slide {
  animation: scaling 0.7s ease-in-out;
}


.alert{
  border: 2px solid orange;
  position: absolute !important;
  top: 0;
  z-index: 12;
  background: rgba(255, 255, 255, 0.696);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 80%;
margin: auto;
padding: 15px;
border-radius: 10px;

margin: 10px;
text-align: center;
/* box-shadow: 0 2px 4px rgb(0 0 0 / 15%); */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

border: 1px solid transparent;
/* min-width: 100px; */
transition: all ease 0.3s;
border: 2px solid rgba(255, 67, 73, 0) ;
}