/* FORM AND SPECIFIC TINGS */
/* animation */























:root {
    --primary: #ff6400;
    --primary-dark: #4a00e0;
    /* --primary-light: #5DA8FF; */
    /* --primary-light: #ff6400 !important; */

    --secondary: #1D1D1D;
    --social-background: #E9E9E9;
    --social-background-hover: #dddddd --text: #1f2346;
    --white: #FFFFFF;
    --violet: #8e2de2;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Syne+Mono&display=swap');

* {
    /* color: black !important; */
    /* border: 1px solid red; */
    text-decoration-line: none !important;
    box-sizing: border-box;

    /* margin: 0 !important;padding: 0 !important; */
    margin: 0;
    padding: 0;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

    list-style-type: none;
}

.link {
    color: #ff6400;
    ;

}

.link:hover {
    color: #4a00e0;
    text-decoration-line: underline !important;
}

.box {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

body {
    font-size: 16px;
    /* font-family: 'Work Sans', sans-serif; */
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f1f1f1 !important;

}

.code * {
    font-family: monospace !important;
}

.socials-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

socials-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.socials-row img {
    width: 24px;
    height: 24px;
}

.socials-row>a {
    padding: 8px;
    border-radius: 99px;
    width: 100%;
    min-height: 48px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 8px;
    background-color: var(--social-background);
    font-weight: 500;
}

.red:hover {
    background-color: red;
}

.socials-row>a:hover {
    background-color: rgb(248, 36, 36);
}

.login-welcome-row {
    margin-bottom: 1rem;
    text-align: center;
}

.welcome-message {
    max-width: 360px;
}

.logo {
    height: 70px;
    margin: 0 auto;

}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 0.5rem;
    background-color: var(--white);
    width: 100%;
    max-width: 27rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    height: auto;
}

.my-form_button {
    /* background-color: #ff6400; */
    color: rgb(30, 30, 30);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    min-height: 50px;
    width: 100%;
    border-radius: 99px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form_button:hover {
    background-color: #ff6400;
    ;
}

.input_wrapper {
    padding: 15px 0 0;
    position: relative;
    margin-bottom: 0.5rem;

}

.input_field {
    font-size: 1rem;
    color: var(--text);
    padding: 6px 0px;
    padding-right: 32px;
    padding-bottom: 8px;
    line-height: 2rem;
    height: 2rem;
    outline: 0px;
    border: 0px;
    width: 100%;
    vertical-align: middle;
    font-family: monospace !important;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid var(--secondary);
    background: transparent;
    /* transition: border-color 0.2s; */
}
.select {
    font-size: 1rem;
    color: var(--text);
    padding: 6px 0px;
    padding-right: 32px;
    padding-bottom: 8px;
    line-height: 2rem;
    height: 2rem;
    outline: 0px;
    /* border: 0px; */
    width: 100%;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace !important;
    padding-bottom: 0.7rem;
    /* border-bottom: 3px solid var(--secondary); */
    background: transparent;
    transition: border-color 0.2s;
}

.input_field::placeholder {
    color: transparent;
}
.place::placeholder {
    color: rgba(78, 75, 75, 0.696) !important;
}

.input_label {

    user-select: none;
    font-size: 1rem !important;
}

.input_field:placeholder-shown~.input_label {
    cursor: text;
    color: var(--text);
    top: 0.8rem;
    font-size: 1.2rem;
}

.input_label,
.input_field:focus~.input_label {
    position: absolute;
    top: -0.8rem;
    display: block;
    font-size: 1.2rem;
    color: var(--text);
    transition: 0.3s;
}

.input field:focus~.input_label {
    color: var(--primary);
}

.input_field:focus {
    /* border-bottom: 3px solid var(--primary); */
}

.input_field:focus~svg {
    /* stroke: var(--primary); */
}

.input_icon {
    position: absolute;
    right: 14px;
    bottom: 11px;
    width: 36px;
    height: 36px;
    padding: 2px;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}

.input_icon:hover {
    border-radius: 50%;
}

.my-form_actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form_actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form_actions a:hover {
    text-decoration: underline;
}

.my-form_row {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}