


<!--? FOOTER -->

<br>
<footer class="site-footer footer-box ani">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h5>About</h5>
          <p class="text-justify"><b class="theme-color">BITONIC</b> is platform where Any school or classes can login in and use our service and fees payment option and attendance there there ia student , teacher and institution login page option.There is a 1 month free trial option.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <ul><h6>Categories</h6></ul>
          <ul class="footer-links">
            <li ><a class="theme-color"  href="http://scanfcode.com/category/c-language/">Students login</a></li>
            <li><a  class="theme-color" href="http://scanfcode.com/category/front-end-development/">Teacher login</a></li>
            <li><a  class="theme-color" href="http://scanfcode.com/category/back-end-development/">School login</a></li>
            <li><a  class="theme-color" href="http://scanfcode.com/category/java-programming-language/">FAQ</a></li>
            <li><a  class="theme-color" href="http://scanfcode.com/category/android/">Chat</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
        <ul><h6 >Quick Links</h6></ul>
          <ul class="footer-links">
            <li><a class="theme-color" href="http://scanfcode.com/about/">About Us</a></li>
            <li><a class="theme-color" href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a class="theme-color" href="http://scanfcode.com/contribute-at-scanfcode/">Contributes</a></li>
            <li><a class="theme-color" href="http://scanfcode.com/privacy-policy/">Privacy & Policy</a></li>
            <li><a class="theme-color" href="http://scanfcode.com/sitemap/">Blog</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023-24 All Rights Reserved by 
       <a class="theme-color" href="#brand">BITONIC</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="d-flex mx-auto w-100">
            <li><a class="m-3" href="#"><img src="images/linkedin.png"   height="30px"  width="30px" alt="">   </a></li>   
            <li><a class="m-3" href="#"> <img src="images/whatsapp.png"  height="30px"  width="30px" alt="">  </a></li>   
            <li><a class="m-3" href="#"><img src="images/youtube (1).png"height="30px"  width="30px" alt=""> </a></li>   
            <li><a class="m-3" href="#"><img src="images/github.png"     height="30px"  width="30px" alt="">    </a></li>      
            <!-- <li><a class="m-3" href="#"><img src="images/twitter.png"    height="30px"  width="30px" alt="">   </a></li>       -->

          </ul>
        </div>
      </div>
    </div>
    <br><br><br>
</footer>