


<!--? FOOTER -->
<noscript>
 For full functionality of this site it is necessary to enable JavaScript.
 Here are the <a href="https://www.enable-javascript.com/">
 instructions how to enable JavaScript in your web browser</a>.
</noscript>
<br>
<footer class="site-footer footer-box ani">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h5>About</h5>
          <p class="text-justify"><b class="theme-color penta">BITONIC</b> is platform where Any school or classes can login in and use our service and fees payment option and attendance there there ia student , teacher and institution login page option.There is a 1 month free trial option.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <ul><h6>Categories</h6></ul>
          <ul class="footer-links">
            <li ><a class="theme-color"  href="student/studentLogin">Students login</a></li>
            <li><a  class="theme-color" href="teacher/teacherLogin">Teacher login</a></li>
            <li><a  class="theme-color" href="admin/adminLogin">School login</a></li>
            <li><a  class="theme-color" href="/faq">FAQ</a></li>
            <li><a  class="theme-color" href="/chat">Chat</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
        <ul><h6 >Quick Links</h6></ul>
          <ul class="footer-links">
            <li><a class="theme-color" href="about">About Us</a></li>
            <li><a class="theme-color" href="contact">Contact Us</a></li>
            <li><a class="theme-color" href="">Contributes</a></li>
            <li><a class="theme-color" href="">Privacy & Policy</a></li>
            <li><a class="theme-color" href="">Blog</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023-24 All Rights Reserved by 
       <a class="theme-color penta" href="/">BITONIC</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="d-flex mx-auto w-100">
            <li><a class="m-3" href="https://www.linkedin.com/in/surya-sundar-81a621258/"><img src="/images/linkedin.png"   height="30px"  width="30px" alt="">   </a></li>   
            <li><a class="m-3" href=""> <img src="/images/whatsapp.png"  height="30px"  width="30px" alt="">  </a></li>   
            <li><a class="m-3" href="https://www.youtube.com/@trogrammer"><img src="/images/youtube (1).png"height="30px"  width="30px" alt=""> </a></li>   
            <li><a class="m-3" href="https://github.com/suryaofficial7"><img src="/images/github.png"     height="30px"  width="30px" alt="">    </a></li>      
            <!-- <li><a class="m-3" href="#"><img src="images/twitter.png"    height="30px"  width="30px" alt="">   </a></li>       -->

          </ul>
        </div>
      </div>
    </div>
    {{!-- <br> --}}
</footer>