


<!--? FOOTER -->

<br>
<footer class="site-footer footer-box container-fluid ani m-0" style="border-top-left-radius:0px !important;  border-top-right-radius: 0px !important;">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023-24 All Rights Reserved by 
       <a class="theme-color" href="#brand">BITONIC</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="d-flex mx-auto w-100">
            <li><a class="m-3 mt-0" href="https://www.linkedin.com/in/surya-sundar-81a621258/"><img src="/images/linkedin.png"   height="30px"  width="30px" alt="">   </a></li>   
            <li><a class="m-3 mt-0" href=""> <img src="/images/whatsapp.png"  height="30px"  width="30px" alt="">  </a></li>   
            <li><a class="m-3 mt-0" href="https://www.youtube.com/@trogrammer"><img src="/images/youtube (1).png"height="30px"  width="30px" alt=""> </a></li>   
            <li><a class="m-3 mt-0" href="https://github.com/suryaofficial7"><img src="/images/github.png"     height="30px"  width="30px" alt="">    </a></li>      
            <!-- <li><a class="m-3" href="#"><img src="images/twitter.png"    height="30px"  width="30px" alt="">   </a></li>       -->

          </ul>
        </div>
      </div>
    </div>
</footer>