 <nav class="only-Mob container m-0 p-0 text-center justify-content-center ani">

    
      <ul class="w-100 d-flex m-0 p-0" style="padding-left: 30px !important;" >
        <li> 
            <img src="/images/brand.png" height="70px" width="70px" alt="" id="brand">
        </li>
        <li class="mt-15" style="font-size: 25px; color: #000000;font-weight: 500;">
            Bitonic
        </li>
        <li class="mt-15" style="font-size: 25px; color: #000000;font-weight: 500; justify-content: center !important;">
     <a href="logout" ><img style="position: absolute !important;top: 25px !important; right: 50px;" class="icon-small" src="/images/logout.png" alt=""> </a></li>
        
      </ul>  
</nav>
<hr class="hr">


<nav class="container only-Mob ani">

  <ul class="justify-content-center container d-flex m-0 p-0 flex-wrap">
    <li class="m-3">       <a href="teacherHomepage"><img class="icon-small" src="/images/statistics.png" alt=""></a></li>
    <li class="m-3">       <a href="addAttemdamce"><img class="icon-small" src="/images/edit.png" alt=""></a></li>
    <li class="m-3">       <a href="upload"><img class="icon-small" src="/images/upload-file.gif" alt=""></a></li>
    <li class="m-3">       <a href="history"><img class="icon-small" src="/images/refresh.png" alt=""> </a></li>
    <li class="m-3">       <a href="sms"><img class="icon-small" src="/images/notification.png" alt=""> </a></li>


  </ul>
</nav>






<!--? NAV BAR  -->
    <nav class="navbar w-100 m-displayNone ani">

<ul class="w-100 nav-ul ani">

    <li class="w-20">
        <div>
              <ul>
                <li> 
                    <img src="/images/brand.png" height="70px" width="70px" alt="" id="brand">
                </li>
                <li class="mt-15" style="font-size: 25px; color: #000000;font-weight: 500;">
                    Bitonic
                </li>
              </ul>  
        </div>
    </li>


    <li class="w-50 m-displayNone">
        <div>
              <ul class="w-100">
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacherHomepage">                                      
                  <button class="btn">Dashboard</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="addAttendance">                                      
                  <button class="btn">Add Attendance</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="upload">                                      
                  <button class="btn">Upload</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="history">                                      
                  <button class="btn">History</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="sms">                                      
                  <button class="btn">SMS</button>
                </a>
              </li>

              </ul>  
        </div>
    </li>


    <li class="w-20">
        <div >
              <ul>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;"><a href="logout"><button class="btn"><i class="fa-solid fa-right-from-bracket fa-flip p-1" style="color: #e14a00;"></i>Logout</button></a></li>

              </ul>  
        </div>
    </li>
</ul>

    </nav>

<hr class="hr">