 <nav class="only-Mob container m-0 p-0 text-center justify-content-center ani">

    
      <ul class="w-100 d-flex m-0 p-0" style="padding-left: 30px !important;" >
        <li> 
            <img src="/images/brand.png" height="70px" width="70px" alt="" id="brand">
        </li>
        <li class="mt-15" style="font-size: 25px; color: #000000;font-weight: 500;">
            Bitonic
        </li>
        
      </ul>  
</nav>
<hr class="hr">


<nav class="container only-Mob ani">

  <ul class="justify-content-center container d-flex m-0 p-0 flex-wrap">
    <li class="m-3">       <a href="progile">          <i  class="text-dark fa-solid fa-user"></i>             </a></li>
    <li class="m-3">       <a href="addAttemdamce">     <i  class="text-dark fa-solid fa-plus"></i>            </a></li>
    <li class="m-3">       <a href="upload">          <i  class="text-dark fa-solid fa-cloud-arrow-up"></i>              </a></li>
    <li class="m-3">       <a href="history">          <i  class="text-dark fa-solid fa-clock-rotate-left"></i>             </a></li>
    <li class="m-3">       <a href="notification">     <i  class="text-dark fa-solid fa-comment-sms"></i>             </a></li>
    <li class="m-3">       <a href="logout">           <i class="text-dark fa-solid fa-arrow-right-from-bracket"></i>            </a></li>


  </ul>
</nav>






<!--? NAV BAR  -->
    <nav class="navbar w-100 m-displayNone ani">

<ul class="w-100 nav-ul ani">

    <li class="w-20">
        <div>
              <ul>
                <li> 
                    <img src="/images/brand.png" height="70px" width="70px" alt="" id="brand">
                </li>
                <li class="mt-15" style="font-size: 25px; color: #000000;font-weight: 500;">
                    Bitonic
                </li>
              </ul>  
        </div>
    </li>


    <li class="w-50 m-displayNone">
        <div>
              <ul class="w-100">
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacher/profile">                                      
                  <button class="btn">Profile</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacher/addAttendance">                                      
                  <button class="btn">Add Attendance</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacher/upload">                                      
                  <button class="btn">Upload</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacher/history">                                      
                  <button class="btn">History</button>
                </a>
              </li>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;">
                  <a href="teacher/notification">                                      
                  <button class="btn">SMS</button>
                </a>
              </li>

              </ul>  
        </div>
    </li>


    <li class="w-20">
        <div >
              <ul>
                <li class="mt-15" style="margin-left: 5px;margin-right: 5px;"><a href="logout"><button class="btn"><i class="fa-solid fa-right-from-bracket fa-flip p-1" style="color: #e14a00;"></i>Logout</button></a></li>

              </ul>  
        </div>
    </li>
</ul>

    </nav>

<hr class="hr">