<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitonic</title>
    <link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animation.css">
    {{!-- <link rel="stylesheet" href="css/form.css"> --}}
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    @media only screen and (max-width: 450px) {
.box{
    margin: 2px;
}
}
</style>
<body id="bod" onload="oo()">
<div id="loading" style="display: flex;width: 100%; height: 100;align-items: center; justify-content: center; vertical-align: middle;" class="center"  >
   
    <img id=""  src="images/brand.png" width="40%" alt="">

</div>

<br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <br><br>
    <div class="text-center justify-content-center w-100">
        <img class="brand-large" src="images/brand.png" alt="">

        <br>

        <h2 class="slide">SIGN IN </h2>

        <div class="wrapper d-flex justify-content-center ani2">

            <a href="student/studentLogin">
                <div class="d-flex flex-wrap">

                    <div class="box">
                        <div><svg xmlns="http://www.w3.org/2000/svg" id="scale1" width="70" height="70"
                                viewBox="0 0 70 70">
                                <g transform="translate(-182 -438)">
                                    <circle cx="35" cy="35" r="35" transform="translate(182 438)" fill="#ffff" />
                                    <g transform="translate(-162.233 -922.762)">
                                        <path
                                            d="M374.075,1530c0,.109.29,2.793-1.85,3.737-2.734,1.2-8.549,1.415-11.717,3.628-4.571,3.192-4.281,9.323-4.281,9.323v1.786"
                                            transform="translate(0 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M497.3,1530c0,.109-.29,2.793,1.85,3.737,2.733,1.2,8.549,1.415,11.717,3.628,4.571,3.192,4.281,9.323,4.281,9.323v2.46"
                                            transform="translate(-114.911 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M451.527,1543.5l4.716,5.079v16.791"
                                            transform="translate(-77.633 -141.527)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M445.128,1553.056l-3.337,4.353-2.394-7.255"
                                            transform="translate(-67.751 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M483.614,1553.056l3.337,4.353,1.741-7.255"
                                            transform="translate(-103.77 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M499.657,1544.675" transform="translate(-116.839 -142.483)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <line x1="3.918" y2="4.571" transform="translate(378.9 1402.193)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M4.643,0H14.655A4.643,4.643,0,0,1,19.3,4.643v6.53a9.649,9.649,0,0,1-9.649,9.649h0A9.649,9.649,0,0,1,0,11.173V4.643A4.643,4.643,0,0,1,4.643,0Z"
                                            transform="translate(368.961 1378.758)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M411.777,1390.294l-1.13-.537a3.1,3.1,0,0,1-1.772-2.8v-8.849a3.12,3.12,0,0,1,3.12-3.12h0l.155-.356a7.875,7.875,0,0,1,5.188-4.472l1.477-.4h12.406l-1.669,4.063.775.2a4.58,4.58,0,0,1,3.433,4.434v7.511a4.148,4.148,0,0,1-1.847,3.451l-.765.51"
                                            transform="translate(-42.889 0)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                    </g>
                                </g>
                            </svg></div>
                        <div>
                            <p class="text-dark">Student</p>
                        </div>
                    </div>
            </a>







            <a href="teacher/teacherLogin">
                <div class="box">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                            <g transform="translate(-542 -438)">
                                <circle cx="35" cy="35" r="35" transform="translate(542 438)" fill="#fff" />
                                <g transform="translate(190.735 -1259.12)">
                                    <path
                                        d="M371.82,1864.241c0,.094-.01,3.386-1.849,4.2-2.348,1.035-7.345,1.216-10.066,3.116a8.752,8.752,0,0,0-3.3,4.994"
                                        transform="translate(0 -129.508)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M497.135,1866.588c0,.094-.22,3.012,1.618,3.823,2.348,1.035,7.345,1.216,10.066,3.116a9.344,9.344,0,0,1,3.605,6.616c.1.7-.533,9.376-.533,9.376"
                                        transform="translate(-118.46 -131.481)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path d="M439.266,1892.414l6,5.111v15" transform="translate(-69.815 -153.194)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M499.657,1885.11" transform="translate(-120.587 -147.053)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M5.568.2,0,4.862" transform="translate(375.684 1739.096)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-width="1.2" />
                                    <path
                                        d="M3.989,0h8.6a3.989,3.989,0,0,1,3.989,3.989V9.6a8.29,8.29,0,0,1-8.29,8.29h0A8.29,8.29,0,0,1,0,9.6V3.989A3.989,3.989,0,0,1,3.989,0Z"
                                        transform="matrix(1, 0.004, -0.004, 1, 367.203, 1717.891)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M533.13,1813.985" transform="translate(-148.728 -87.257)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path
                                        d="M408.875,1723.639v-6.274a2.68,2.68,0,0,1,2.68-2.68h0l.133-.306a6.765,6.765,0,0,1,4.457-3.842l1.269-.339H424.3a2.529,2.529,0,0,1,2.34,3.49h0l.666.172a3.934,3.934,0,0,1,2.949,3.809v6.095"
                                        transform="translate(-44.265 0)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <g transform="translate(384.955 1711.696)">
                                        <path
                                            d="M546.952,1864.938c0,.083.221,2.131-1.411,2.85-2.085.919-6.194.879-8.61,2.566"
                                            transform="translate(-536.603 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M641.348,1864.938c0,.083-.221,2.131,1.411,2.85,2.085.919,6.521,1.079,8.938,2.767a5.979,5.979,0,0,1,2.909,4.273,31.359,31.359,0,0,1,.4,5.193"
                                            transform="translate(-624.656 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path d="M596.5,1884.444l-.152.127a9.52,9.52,0,0,1-12.136.076h0"
                                            transform="translate(-576.63 -1858.189)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M549.994,1746.428s-3.532-.333-3.532-2.244a3.557,3.557,0,0,1,1.205-2.2,2.267,2.267,0,0,1-1.994-2.452c.16-2.821,2.2-2.992,2.451-5.36a17.5,17.5,0,0,0,.193-3.1c-.148-3.837.431-9.741,6.051-10.994,6.229-1.389,10.109.443,11.954,3.837.977,1.8.777,6.577,1.033,8.781a10.372,10.372,0,0,0,1.56,3.828,3.116,3.116,0,0,1-.928,4.088,2.782,2.782,0,0,1,1.787,3.158,3.447,3.447,0,0,1-2.867,2.992"
                                            transform="translate(-544.224 -1719.61)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M574.964,1776.249a21.336,21.336,0,0,0,11.235-3.672,10.69,10.69,0,0,0,3.1,3.118v4.98a7.36,7.36,0,0,1-7.36,7.36h0a7.36,7.36,0,0,1-7.36-7.36v-4.98"
                                            transform="translate(-568.529 -1764.14)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    </g>
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(368.782 1722.863) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(376.573 1722.896) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x2="2.431" y2="0.01" transform="translate(374.077 1723.509)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line y1="0.81" x2="2.119" transform="translate(381.605 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x1="2.119" y1="0.81" transform="translate(366.958 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M409.554,1797.861c-1.125,0-3.158-2.326-3.158-3.656s.748-2.743,2.576-2.078"
                                        transform="translate(-42.18 -68.737)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M525.325,1797.5a5.118,5.118,0,0,0,2.341-3.274c.029-1.331-.688-2.758-2.53-2.133"
                                        transform="translate(-141.413 -68.723)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                </g>
                            </g>
                        </svg></div>
                    <p class="text-dark">Teacher</p>
                </div>
            </a>



            <a href="admin/adminLogin">
                <div class="box">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                            <g transform="translate(-421 -438)">
                                <circle cx="35" cy="35" r="35" transform="translate(421 438)" fill="#fff" />
                                <g transform="translate(-385.782 -1449.534)">
                                    <rect width="12.498" height="24.205" transform="translate(820.98 1920.274)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="12.498" height="24.205" transform="translate(850.405 1920.274)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <path d="M853.992,1948.775H837.223V1911.2h16.769v37.578Z"
                                        transform="translate(-3.745 -2.788)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" />
                                    <line x1="15.662" y1="0.158" transform="translate(850.246 1920.274)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <line x1="20.882" y2="0.395" transform="translate(831.262 1908.093)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <line x1="15.82" transform="translate(817.657 1920.274)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(836.325 1913.471)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(836.325 1923.28)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(843.602 1913.471)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(825.409 1924.703)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(854.518 1924.703)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(825.409 1934.67)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(854.518 1934.67)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="3.48" height="5.853" transform="translate(843.602 1923.28)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <rect width="11.074" height="12.266" transform="translate(836.325 1933.721)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                    <path
                                        d="M845.831,1908.25V1896.7c.949-.159,7.12,0,7.12,0l-2.452,2.451,2.531,2.532h-6.723"
                                        transform="translate(-5.393)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" />
                                    <line y1="12.155" transform="translate(841.861 1933.879)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.2" />
                                </g>
                            </g>
                        </svg></div>
                    <div>
                        <p class="text-dark">School</p>
                    </div>

            </a>

        </div>



    </div>

    </div>

    </div>

    <script src="js/script.js"></script>

<script>
        
  function oo() {
    document.getElementById("loading").style.display="none";
  }
</script>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<style>
    body{
        overflow: hidden;
    }
</style>
</body>

</html>