<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitonic ? Sch/Clg Student</title>
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">
    {{!-- <link rel="stylesheet" href="css/form.css"> --}}
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    @media only screen and (max-width: 450px) {
.box{
    margin: 2px;
}
}
</style>
<body id="bod" onload="oo()">
<div id="loading" style="display: flex;width: 100%; height: 100;align-items: center; justify-content: center; vertical-align: middle;" class="center"  >
   
    <img id=""  src="images/brand.png" width="40%" alt="">

</div>

<br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <br><br>
    <div class="text-center justify-content-center w-100">
        <img class="brand-large" src="/images/brand.png" alt="">

        <br>

        <h2 class="slide">Who are you ?</h2>

        <div class="wrapper d-flex justify-content-center ani2">

           <a href="../student/studentLogin">
                <div class="d-flex flex-wrap">

                    <div class="box">
                        <div><svg xmlns="http://www.w3.org/2000/svg" id="scale1" width="70" height="70"
                                viewBox="0 0 70 70">
                                <g transform="translate(-182 -438)">
                                    <circle cx="35" cy="35" r="35" transform="translate(182 438)" fill="#ffff" />
                                    <g transform="translate(-162.233 -922.762)">
                                        <path
                                            d="M374.075,1530c0,.109.29,2.793-1.85,3.737-2.734,1.2-8.549,1.415-11.717,3.628-4.571,3.192-4.281,9.323-4.281,9.323v1.786"
                                            transform="translate(0 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M497.3,1530c0,.109-.29,2.793,1.85,3.737,2.733,1.2,8.549,1.415,11.717,3.628,4.571,3.192,4.281,9.323,4.281,9.323v2.46"
                                            transform="translate(-114.911 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M451.527,1543.5l4.716,5.079v16.791"
                                            transform="translate(-77.633 -141.527)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M445.128,1553.056l-3.337,4.353-2.394-7.255"
                                            transform="translate(-67.751 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M483.614,1553.056l3.337,4.353,1.741-7.255"
                                            transform="translate(-103.77 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M499.657,1544.675" transform="translate(-116.839 -142.483)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <line x1="3.918" y2="4.571" transform="translate(378.9 1402.193)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M4.643,0H14.655A4.643,4.643,0,0,1,19.3,4.643v6.53a9.649,9.649,0,0,1-9.649,9.649h0A9.649,9.649,0,0,1,0,11.173V4.643A4.643,4.643,0,0,1,4.643,0Z"
                                            transform="translate(368.961 1378.758)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M411.777,1390.294l-1.13-.537a3.1,3.1,0,0,1-1.772-2.8v-8.849a3.12,3.12,0,0,1,3.12-3.12h0l.155-.356a7.875,7.875,0,0,1,5.188-4.472l1.477-.4h12.406l-1.669,4.063.775.2a4.58,4.58,0,0,1,3.433,4.434v7.511a4.148,4.148,0,0,1-1.847,3.451l-.765.51"
                                            transform="translate(-42.889 0)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                    </g>
                                </g>
                            </svg></div>
                        <div>
                            <p class="text-dark">School  Student </p>
                        </div>
                    </div>
            </a>

            <a href="../clgStudent/studentLogin.hbs">
                <div class="d-flex flex-wrap">

                    <div class="box">
                        <div><svg xmlns="http://www.w3.org/2000/svg" id="scale1" width="70" height="70"
                                viewBox="0 0 70 70">
                                <g transform="translate(-182 -438)">
                                    <circle cx="35" cy="35" r="35" transform="translate(182 438)" fill="#ffff" />
                                    <g transform="translate(-162.233 -922.762)">
                                        <path
                                            d="M374.075,1530c0,.109.29,2.793-1.85,3.737-2.734,1.2-8.549,1.415-11.717,3.628-4.571,3.192-4.281,9.323-4.281,9.323v1.786"
                                            transform="translate(0 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M497.3,1530c0,.109-.29,2.793,1.85,3.737,2.733,1.2,8.549,1.415,11.717,3.628,4.571,3.192,4.281,9.323,4.281,9.323v2.46"
                                            transform="translate(-114.911 -130.529)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M451.527,1543.5l4.716,5.079v16.791"
                                            transform="translate(-77.633 -141.527)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M445.128,1553.056l-3.337,4.353-2.394-7.255"
                                            transform="translate(-67.751 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M483.614,1553.056l3.337,4.353,1.741-7.255"
                                            transform="translate(-103.77 -146.945)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path d="M499.657,1544.675" transform="translate(-116.839 -142.483)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <line x1="3.918" y2="4.571" transform="translate(378.9 1402.193)" fill="none"
                                            stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M4.643,0H14.655A4.643,4.643,0,0,1,19.3,4.643v6.53a9.649,9.649,0,0,1-9.649,9.649h0A9.649,9.649,0,0,1,0,11.173V4.643A4.643,4.643,0,0,1,4.643,0Z"
                                            transform="translate(368.961 1378.758)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                        <path
                                            d="M411.777,1390.294l-1.13-.537a3.1,3.1,0,0,1-1.772-2.8v-8.849a3.12,3.12,0,0,1,3.12-3.12h0l.155-.356a7.875,7.875,0,0,1,5.188-4.472l1.477-.4h12.406l-1.669,4.063.775.2a4.58,4.58,0,0,1,3.433,4.434v7.511a4.148,4.148,0,0,1-1.847,3.451l-.765.51"
                                            transform="translate(-42.889 0)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                            stroke-width="1.2" />
                                    </g>
                                </g>
                            </svg></div>
                        <div>
                            <p class="text-dark">College Student</p>
                        </div>
                    </div>
            </a>






        </div>



    </div>

    </div>

    </div>

    <script src="js/script.js"></script>

<script>
        
  function oo() {
    document.getElementById("loading").style.display="none";
  }
</script>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<style>
    body{
        overflow: hidden;
    }
</style>
</body>

</html>