<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitonic ? sch/clg Teacher</title>
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animation.css">
    {{!-- <link rel="stylesheet" href="css/form.css"> --}}
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    @media only screen and (max-width: 450px) {
.box{
    margin: 2px;
}
}
</style>
<body id="bod" onload="oo()">
<div id="loading" style="display: flex;width: 100%; height: 100;align-items: center; justify-content: center; vertical-align: middle;" class="center"  >
   
    <img id=""  src="/images/brand.png" width="40%" alt="">

</div>

<br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <br><br>
    <div class="text-center justify-content-center w-100">
        <img class="brand-large" src="/images/brand.png" alt="">

        <br>

        <h2 class="slide">Who are You ?</h2>

        <div class="wrapper d-flex justify-content-center ani2">

           

            <a href="../teacher/teacherLogin">
                <div class="box">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                            <g transform="translate(-542 -438)">
                                <circle cx="35" cy="35" r="35" transform="translate(542 438)" fill="#fff" />
                                <g transform="translate(190.735 -1259.12)">
                                    <path
                                        d="M371.82,1864.241c0,.094-.01,3.386-1.849,4.2-2.348,1.035-7.345,1.216-10.066,3.116a8.752,8.752,0,0,0-3.3,4.994"
                                        transform="translate(0 -129.508)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M497.135,1866.588c0,.094-.22,3.012,1.618,3.823,2.348,1.035,7.345,1.216,10.066,3.116a9.344,9.344,0,0,1,3.605,6.616c.1.7-.533,9.376-.533,9.376"
                                        transform="translate(-118.46 -131.481)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path d="M439.266,1892.414l6,5.111v15" transform="translate(-69.815 -153.194)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M499.657,1885.11" transform="translate(-120.587 -147.053)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M5.568.2,0,4.862" transform="translate(375.684 1739.096)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-width="1.2" />
                                    <path
                                        d="M3.989,0h8.6a3.989,3.989,0,0,1,3.989,3.989V9.6a8.29,8.29,0,0,1-8.29,8.29h0A8.29,8.29,0,0,1,0,9.6V3.989A3.989,3.989,0,0,1,3.989,0Z"
                                        transform="matrix(1, 0.004, -0.004, 1, 367.203, 1717.891)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M533.13,1813.985" transform="translate(-148.728 -87.257)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path
                                        d="M408.875,1723.639v-6.274a2.68,2.68,0,0,1,2.68-2.68h0l.133-.306a6.765,6.765,0,0,1,4.457-3.842l1.269-.339H424.3a2.529,2.529,0,0,1,2.34,3.49h0l.666.172a3.934,3.934,0,0,1,2.949,3.809v6.095"
                                        transform="translate(-44.265 0)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <g transform="translate(384.955 1711.696)">
                                        <path
                                            d="M546.952,1864.938c0,.083.221,2.131-1.411,2.85-2.085.919-6.194.879-8.61,2.566"
                                            transform="translate(-536.603 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M641.348,1864.938c0,.083-.221,2.131,1.411,2.85,2.085.919,6.521,1.079,8.938,2.767a5.979,5.979,0,0,1,2.909,4.273,31.359,31.359,0,0,1,.4,5.193"
                                            transform="translate(-624.656 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path d="M596.5,1884.444l-.152.127a9.52,9.52,0,0,1-12.136.076h0"
                                            transform="translate(-576.63 -1858.189)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M549.994,1746.428s-3.532-.333-3.532-2.244a3.557,3.557,0,0,1,1.205-2.2,2.267,2.267,0,0,1-1.994-2.452c.16-2.821,2.2-2.992,2.451-5.36a17.5,17.5,0,0,0,.193-3.1c-.148-3.837.431-9.741,6.051-10.994,6.229-1.389,10.109.443,11.954,3.837.977,1.8.777,6.577,1.033,8.781a10.372,10.372,0,0,0,1.56,3.828,3.116,3.116,0,0,1-.928,4.088,2.782,2.782,0,0,1,1.787,3.158,3.447,3.447,0,0,1-2.867,2.992"
                                            transform="translate(-544.224 -1719.61)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M574.964,1776.249a21.336,21.336,0,0,0,11.235-3.672,10.69,10.69,0,0,0,3.1,3.118v4.98a7.36,7.36,0,0,1-7.36,7.36h0a7.36,7.36,0,0,1-7.36-7.36v-4.98"
                                            transform="translate(-568.529 -1764.14)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    </g>
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(368.782 1722.863) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(376.573 1722.896) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x2="2.431" y2="0.01" transform="translate(374.077 1723.509)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line y1="0.81" x2="2.119" transform="translate(381.605 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x1="2.119" y1="0.81" transform="translate(366.958 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M409.554,1797.861c-1.125,0-3.158-2.326-3.158-3.656s.748-2.743,2.576-2.078"
                                        transform="translate(-42.18 -68.737)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M525.325,1797.5a5.118,5.118,0,0,0,2.341-3.274c.029-1.331-.688-2.758-2.53-2.133"
                                        transform="translate(-141.413 -68.723)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                </g>
                            </g>
                        </svg></div>
                    <p class="text-dark">School Teacher</p>
                </div>
            </a>






            <a href="../cTeacher/teacherLogin">
                <div class="box">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                            <g transform="translate(-542 -438)">
                                <circle cx="35" cy="35" r="35" transform="translate(542 438)" fill="#fff" />
                                <g transform="translate(190.735 -1259.12)">
                                    <path
                                        d="M371.82,1864.241c0,.094-.01,3.386-1.849,4.2-2.348,1.035-7.345,1.216-10.066,3.116a8.752,8.752,0,0,0-3.3,4.994"
                                        transform="translate(0 -129.508)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M497.135,1866.588c0,.094-.22,3.012,1.618,3.823,2.348,1.035,7.345,1.216,10.066,3.116a9.344,9.344,0,0,1,3.605,6.616c.1.7-.533,9.376-.533,9.376"
                                        transform="translate(-118.46 -131.481)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path d="M439.266,1892.414l6,5.111v15" transform="translate(-69.815 -153.194)"
                                        fill="none" stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M499.657,1885.11" transform="translate(-120.587 -147.053)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M5.568.2,0,4.862" transform="translate(375.684 1739.096)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-width="1.2" />
                                    <path
                                        d="M3.989,0h8.6a3.989,3.989,0,0,1,3.989,3.989V9.6a8.29,8.29,0,0,1-8.29,8.29h0A8.29,8.29,0,0,1,0,9.6V3.989A3.989,3.989,0,0,1,3.989,0Z"
                                        transform="matrix(1, 0.004, -0.004, 1, 367.203, 1717.891)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M533.13,1813.985" transform="translate(-148.728 -87.257)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path
                                        d="M408.875,1723.639v-6.274a2.68,2.68,0,0,1,2.68-2.68h0l.133-.306a6.765,6.765,0,0,1,4.457-3.842l1.269-.339H424.3a2.529,2.529,0,0,1,2.34,3.49h0l.666.172a3.934,3.934,0,0,1,2.949,3.809v6.095"
                                        transform="translate(-44.265 0)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <g transform="translate(384.955 1711.696)">
                                        <path
                                            d="M546.952,1864.938c0,.083.221,2.131-1.411,2.85-2.085.919-6.194.879-8.61,2.566"
                                            transform="translate(-536.603 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M641.348,1864.938c0,.083-.221,2.131,1.411,2.85,2.085.919,6.521,1.079,8.938,2.767a5.979,5.979,0,0,1,2.909,4.273,31.359,31.359,0,0,1,.4,5.193"
                                            transform="translate(-624.656 -1841.79)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path d="M596.5,1884.444l-.152.127a9.52,9.52,0,0,1-12.136.076h0"
                                            transform="translate(-576.63 -1858.189)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M549.994,1746.428s-3.532-.333-3.532-2.244a3.557,3.557,0,0,1,1.205-2.2,2.267,2.267,0,0,1-1.994-2.452c.16-2.821,2.2-2.992,2.451-5.36a17.5,17.5,0,0,0,.193-3.1c-.148-3.837.431-9.741,6.051-10.994,6.229-1.389,10.109.443,11.954,3.837.977,1.8.777,6.577,1.033,8.781a10.372,10.372,0,0,0,1.56,3.828,3.116,3.116,0,0,1-.928,4.088,2.782,2.782,0,0,1,1.787,3.158,3.447,3.447,0,0,1-2.867,2.992"
                                            transform="translate(-544.224 -1719.61)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                        <path
                                            d="M574.964,1776.249a21.336,21.336,0,0,0,11.235-3.672,10.69,10.69,0,0,0,3.1,3.118v4.98a7.36,7.36,0,0,1-7.36,7.36h0a7.36,7.36,0,0,1-7.36-7.36v-4.98"
                                            transform="translate(-568.529 -1764.14)" fill="none" stroke="#003182"
                                            stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    </g>
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(368.782 1722.863) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <rect width="5.173" height="3.116" rx="1.558"
                                        transform="translate(376.573 1722.896) rotate(0.241)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x2="2.431" y2="0.01" transform="translate(374.077 1723.509)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line y1="0.81" x2="2.119" transform="translate(381.605 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <line x1="2.119" y1="0.81" transform="translate(366.958 1722.642)" fill="none"
                                        stroke="#003182" stroke-linecap="round" stroke-miterlimit="10"
                                        stroke-width="1.2" />
                                    <path d="M409.554,1797.861c-1.125,0-3.158-2.326-3.158-3.656s.748-2.743,2.576-2.078"
                                        transform="translate(-42.18 -68.737)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                    <path
                                        d="M525.325,1797.5a5.118,5.118,0,0,0,2.341-3.274c.029-1.331-.688-2.758-2.53-2.133"
                                        transform="translate(-141.413 -68.723)" fill="none" stroke="#003182"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.2" />
                                </g>
                            </g>
                        </svg></div>
                    <p class="text-dark">College Teacher</p>
                </div>
            </a>




        </div>



    </div>

    </div>

    </div>

    <script src="js/script.js"></script>

<script>
        
  function oo() {
    document.getElementById("loading").style.display="none";
  }
</script>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<style>
    body{
        overflow: hidden;
    }
</style>
</body>

</html>