<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/animation.css">
    <!-- <link rel="stylesheet" href="/css/responsive.css"> -->
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
<link rel="shortcut icon" href="images/fav.png" type="image/x-icon">

    <title>Bitonic@Stuednt | Login</title>
  </head>
  <body>
<ul>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/"> </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
<li><a class="link" style="font-size:larger ;" href="/sudoUser/">Login </a></li>
</ul>


    <script src="script.js"></script>
  </body>
</html>
