<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <link rel="stylesheet" href="/css/forms.css"> --}}
    <link rel="stylesheet" href="/css/animation.css">
    <!-- <link rel="stylesheet" href="/css/responsive.css"> -->
     <link rel="stylesheet" href="/css/style.css"> 
<link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/animation.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Bitonic@Teacher | Profile</title>
  </head>
  <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color:#EE7214;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .container1 {
            width: auto;
            background-color: #fff;
            padding: 20px;
            {{!-- border-radius: 8px; --}}
            {{!-- background-color: #83A2FF !important; --}}
        }

        label {
            display: block;
            margin: 10px 0 5px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        center >img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
            margin-top: 10px;
            border-radius: 0px;
background: #e0e0e0;
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;

        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
  <body >
    {{>studentNav}}
 <header class="ani4">
        <h1>Teacher Details</h1>
    </header>
    <br><br>
<div style="justify-content: center ; z-index: 3 !important;" class="d-flex-computer ani1" >
    <div class="container1 ani2" style="z-index: 5;">
      <center>
           <img src="https://api.teachusapp.com/profile/10617263d0145c65c39.jpg" class="circle ani3" width="200px" alt="">
           <div>
            <center class=" mt-2" style="font-weight: bold;">
            Surya Sk
            </center>
            <hr>
            <center class=" mt-2" style="font-weight: bold;">
            Valia college of commerce <br>
            Teacher ID : <code> bitonic@clg-234gjkk</code>
            </center>
            <hr>
           </div>
           </center>  
    </div>
    <div class="container1 ani4" style="overflow: scroll !important;">
        <label style="display: flex;" class="ani3" for="studentName">
          <div style="width: 130px !important;">Student Name</div>:&nbsp;  Surya sk 
          </label>


        <label style="display: flex;" class="ani2" for="mobileNo">
          <div style="width: 130px !important;">Teacher Of</div>:&nbsp; TYBsc.IT
          </label>


          
      

          
        <label style="display: flex;" class="ani4" for="mobileNo">
          <div style="width: 130px !important;">Section</div>:&nbsp; A
          </label>

        <label style="display: flex;"class="ani4" for="studentId">
          <div style="width: 130px !important;">Teacher ID</div>:&nbsp;<code> bitonic@stu-6dfblsdf</code>
          </label>

        <label style="display: flex;"class="ani4" for="email">
          <div style="width: 130px !important;">Email</div>:&nbsp; suryasundarklaidas@gmail.com
          </label>

        <label style="display: flex;"class="ani5" for="dob">
          <div style="width: 130px !important;">Date of Birth</div>:&nbsp; 08/11/2003
          </label>

        <label style="display: flex;" class="ani5" for="collegeName">
          <div style="width: 130px !important;">College Name</div>:&nbsp;  Cosmopolitian valia
          </label>

        <label style="display: flex;" class="ani5" for="mobileNo">
          <div style="width: 130px !important;">Mobile Number</div>:&nbsp; 8104608876
          </label>

 <label style="display: flex;" class="ani5" for="mobileNo">
          <div style="width: 130px !important;">Qualification</div>:&nbsp; MCA
          </label>

          
 <label style="display: flex;" class="ani5" for="mobileNo">
          <div style="width: 130px !important;">Posting</div>:&nbsp; Teaching Staff | Teachnical Worker
          </label>
</div>

</div>

{{>noFooter}}

    <script src="script.js"></script>
  </body>
</html>
