<!DOCTYPE html>
<html>
<head>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/> -->
<!-- <!-- <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" /> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" /> -->
</head>
<body>
  <style>
    body{
        background-color: black;
        font-family: monospace;
        color: rgb(6, 231, 6);
    }
    .line{
        /* background-color: rgb(6, 231, 6) !important; */
        /* color: rgb(6, 231, 6) !important; */
        border: 2px solid rgb(6, 231, 6) ;


    }
    .btn-green{
        background-color: rgb(6, 231, 6);
        font-family: monospace;
        color: black;
        width: 300px;
        padding: 5px;
    }
    .form{
        font-size: larger;
    }
    .form * {
        padding: 7px;

    }
  </style>



<center>
    <h2>Welcome to the Bitonic Sudo Server Login </h2>
    <hr class="line" >
</center>
<center>
    <br><br>
<form action="" method="post" class="line form" style="width: 50%;padding: 10px;">
    <label for="">UserName:</label>
    <input type="text" name="username" id="">
    <br><br>
    <label for="">Password:</label>
    <input type="text" name="username" id="">
    <br><br>
    <button type="submit" class="btn-green">Login</button>
</form>

</center>   
</body>
</html>
<script>
    // $('body').terminal({
    //     hello: function(what) {
    //         this.echo('Hello, ' + what +
    //                   '. Wellcome to this terminal.');
    //     }
    // }, {
    //     greetings: 'My First Web Terminal'
    // });
    </script>