<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/animation.css">


</head>
<body>
  <style>
    *{
        background-color: black;
        font-family: monospace;
        list-style-type: none;
    }
    body{
        color: rgb(6, 231, 6);

    }

    a{
        color: rgb(6, 231, 6);
        font-size: 15px;

    }
    .line{
        /* background-color: rgb(6, 231, 6) !important; */
        /* color: rgb(6, 231, 6) !important; */
        border: 2px solid rgb(6, 231, 6) ;


    }
    .btn-green{
        background-color: rgb(6, 231, 6);
        font-family: monospace;
        color: black;
        width: 300px;
        padding: 5px;
    }
    .form{
        font-size: larger;
    }
    .form * {
        padding: 7px;

    }
    .d-flex{
        display: flex;
    }
    ul a li {
        padding: 10px;
    }
    .red {
        color: red !important;
    }
  </style>



<center>
    <h2>View All The SUDO - ADMIN Tools </h2>
    <hr class="line" >
</center>
<center>
    <br><br>


    <ul class="line d-flex">
        <ul class="lin" style="width: 25%;">
            <br><br>
            <h3>Admins</h3>
            <a href=""><li>View all Admins</li></a>
            <a href=""><li>View Admin By ID </li></a>
            <a href="" class="red"><li>- Pause Services </li></a>
            
            <a href="" class="red"><li>- Delete Admin </li></a>



        
        
        </ul>
        
        <ul class="lin" style="width: 25%;">
            <br><br>
            
            <h3>Teachers</h3>

            <a href=""><li>View all Teachers</li></a>
            <a href=""><li>View all Teacher By ID</li></a>
            <a href=""><li>View all Teacher By Admin-ID</li></a>
            <a href="" class="red"><li>- Delete Teacher </li></a>


        
        
        </ul>
        
        <ul class="lin" style="width: 25%;">
            <br><br>
            <h3>Students</h3>


            <a href=""><li>View all Students</li></a>
            <a href=""><li>View all Students By ID</li></a>
            <a href=""><li>View all Students By Admin-ID</li></a>
            <a href="" class="red"><li>- Delete student </li></a>
        
        
        </ul>
        
        <ul class="lin" style="width: 25%;">
            <br><br>

            <h3>Utils</h3>

            <a href=""><li>+ Add Admins</li></a>

            <a href=""><li>Download sql files</li></a>
            <a href=""><li>Download Admin Details</li></a>
            <a href=""><li>Download Teachers Details</li></a>
            <a href=""><li>Download Student Details</li></a>
            <a href=""><li>Download Attendance Details</li></a>

        
        
        </ul>

    </ul>

</center>   

<center class="floating">
    <p>Bitonic@v1.0.0</p>
</center>
</body>
</html>
<script>
    // $('body').terminal({
    //     hello: function(what) {
    //         this.echo('Hello, ' + what +
    //                   '. Wellcome to this terminal.');
    //     }
    // }, {
    //     greetings: 'My First Web Terminal'
    // });
    </script>