<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <link rel="stylesheet" href="/css/forms.css"> --}}
    <link rel="stylesheet" href="/css/animation.css">
    <!-- <link rel="stylesheet" href="/css/responsive.css"> -->
     <link rel="stylesheet" href="/css/style.css"> 
<link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">

    <title>Bitonic@Student | ETC</title>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/animation.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{>studentNav}}


<div class="container-fluid d-flex flex-wrap justify-content-center">

{{!-- <div class="box box-ani m-50 ani" style="width:  200px;"><a href="etc/werty"><img  style="width: 100%;" src="/images/read.gif" alt="">
</a><div>Notes</div></div> --}}
{{!-- <div class="box box-ani m-50 ani" style="width:  200px;"><a href="etc/werty"><img  style="width: 100%;" src="/images/book.gif" alt="">
  </a><div>Syllabus</div></div> --}}
<div class="box box-ani m-50 ani1" style="width: 180px;"><a href="calender"><img  style="width: 100%;" src="/images/upcoming.gif" alt="">
</a><div>Attendance data</div></div>
<div class="box box-ani m-50 ani1" style="width: 180px;"><a href="library"><img  style="width: 100%;" src="/images/books.gif" alt="">
</a><div>Library</div></div>
<div class="box box-ani m-50 ani2" style="width: 180px;"><a href="result"><img  style="width: 100%;" src="/images/result.gif" alt="">
</a><div>Result</div></div>
<div class="box box-ani m-50 ani3" style="width: 180px;"><a href="etc/werty"><img  style="width: 100%;" src="/images/student.gif" alt="">
</a><div>Your Info</div></div>

<div class="box box-ani m-50 ani4" style="width: 180px;"><a href="changePwd"><img  style="width: 100%;" src="/images/password.gif" alt="">
</a><div>Change Password</div></div>

<div class="box box-ani m-50 ani5" style="width: 180px;"><a href="etc/werty"><img  style="width: 100%;" src="/images/online-shopping.gif" alt="">
</a><div>Payments</div></div>
<div class="box box-ani m-50 ani5" style="width: 180px;"><a href="/faq"><img  style="width: 100%;" src="/images/faq.gif" alt="">
</a><div>F.A.Q</div></div>





</div>

{{>noFooter}}

    <script src="script.js"></script>
  </body>
</html>
