<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Result</title>
    <link rel="stylesheet" href="/css/animation.css">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4 ani1">SEM I Result</h2>
        <table class="table table-bordered">
            <thead>
                <tr class="ani1" style="background-color:  #f56c10db ;">
                    <th>Subject</th>
                    <th>Internal Marks</th>
                    <th>External Marks</th>
                    <th>Practical Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ani2">
                    <td style="font-weight:bold">Subject 1</td>
                    <td>85</td>
                    <td>75</td>
                    <td>90</td>
                </tr>
                <tr class="ani3">
                    <td style="font-weight:bold">Subject 2</td>
                    <td>78</td>
                    <td>80</td>
                    <td>85</td>
                </tr>
                <tr class="ani4">
                    <td style="font-weight:bold">Subject 3</td>
                    <td>90</td>
                    <td>88</td>
                    <td>92</td>
                </tr>
                <tr class="ani5">
                    <td style="font-weight:bold">Subject 4</td>
                    <td>82</td>
                    <td>79</td>
                    <td>88</td>
                </tr>
                <tr class="ani3">
                    <td style="font-weight:bold">Subject 5</td>
                    <td>88</td>
                    <td>85</td>
                    <td>78</td>
                </tr>
            </tbody>
        </table>

        <h2 class="text-center mb-4 ani1" >SEM II Result</h2>
        <table class="table table-bordered">
            <thead>
                <tr  class="ani1" style="background-color:  #f56c10db ;">

                    <th>Subject</th>
                    <th>Internal Marks</th>
                    <th>External Marks</th>
                    <th>Practical Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ani2">
                    <td style="font-weight:bold">Subject 1</td>
                    <td>80</td>
                    <td>70</td>
                    <td>85</td>
                </tr>
                <tr class="ani3">
                    <td style="font-weight:bold">Subject 2</td>
                    <td>75</td>
                    <td>82</td>
                    <td>88</td>
                </tr>
                <tr class="ani4">
                    <td style="font-weight:bold">Subject 3</td>
                    <td>88</td>
                    <td>85</td>
                    <td>90</td>
                </tr>
                <tr class="ani5">
                    <td style="font-weight:bold">Subject 4</td>
                    <td>79</td>
                    <td>80</td>
                    <td>86</td>
                </tr>
                <tr class="ani6">
                    <td style="font-weight:bold">Subject 5</td>
                    <td>85</td>
                    <td>78</td>
                    <td>92</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
