<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/animation.css">
    <!-- <link rel="stylesheet" href="/css/responsive.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">

    <title>Bitonic@Stuednt | Login</title>
  </head>
  <body>


    <form class="my-form box ani1">
      <div class="login-welcome-row">
        <a href="#" title="Logo">
          <img src="../images/brand.png" alt="Logo" class="logo ani1" />
        </a>

        <h2>Welcome  &#x1F44F;</h2>

        <p>Please enter your details!</p>
      </div>

      <div class="input_wrapper ani1">
        <input
          type="email"
          id="email"
          class="input_field"
          placeholder="Your Email"
          required
        />
        <label for="email" class="input_label">Email/userName</label>
        <!-- svg -->
      </div>

      <div class="input_wrapper ani1">
        <input
          id="password"
          type="password"
          class="input_field"
          placeholder="Your Password"
          {{!-- title="Minimum 6 characters at least 1 Alphabet and 1 Number"
          pattern="^(?= .*[A-Za-z]) (7.*\d) [A-Za-z\d]{6,}$" --}}
          required
        />

        <label for="password" class="input_label"> Password: </label>
      </div>

      <button type="submit" class="my-form_button ani1">Login</button>

      <div class="socials-row ani1">
        <a href="#"  title="Use Google">
          Forgot Pwd*
        </a>
      </div>
      <br>
      
      <div class="my-form actions">
        <div class="my-form_row code ani1">
            
          <span>Don't have an account?</span>
          <a href="#" class="link" title="Create Account">Sign Up</a>
        </div>
      </div>
    </form>


    <script src="script.js"></script>
  </body>
</html>
